@import "../../../common/styles/colors.scss";

section {
  min-height: 40vh;
  .title-wrapper {
    h1 {
      font-size: 37px;
      margin-bottom: 1em;

      .highlighted {
        color: $yellow;
        font-weight: 500;
      }

      @media only screen and (min-width: 992px) {
        font-size: 45px;
      }
    }

    .line {
      border: 0.2px solid $light-gray;
      width: 20em;
      margin:auto;
    }

    .icon-container {
        height: 4em;
        width: 4em;
        background-color: $white;
        color: $light-gray;
        margin:-1em auto;
        font-size: 20px;
    }

  }

  .small {
        font-size: 17px;
}
}
