.app-layout {
    height: 100vh;
    transition: margin-left 10s;


    .menu {
      height:  8vh;
      position: fixed;

      @media only screen and (min-width: 992px) {
        height: 12vh;
      }
    }


    .body {
        height: 120vh;        
    }
}

