<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-between align-items-center py-lg-5">
      <h4>EVENTCHAMP</h4>
      <fa-icon
        [icon]="closeIcon"
        class="close-btn"
        (click)="onClose()"
      ></fa-icon>
    </div>
    <div class="col-12 menu-item" *ngFor="let menu of navigation" >
      <div class="d-flex align-items-center justify-content-between">
        {{ menu.attributes.label }}
        <fa-icon [icon]="chevronIcon" class="chevron-down" (click)="onChevronDown(content)"></fa-icon>
      </div>
      <div class="sub-content py-3" #content id="content">
        <div class="container">
          <div class="row">
            <div class="col-12" *ngFor="let submenu of menu.attributes.submenu">
              <div class="sub-link">
                {{submenu.label}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer d-flex justify-content-center">
  <toggle-buttons [fullWidth]="true" [ngStyle]="{'width': '100%'}"></toggle-buttons>
</div>