@import "../../../common/styles/colors.scss";

.custom-btn {
  min-width: 8em;
  background-color: $yellow;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
