<ngb-carousel
  *ngIf="todayEvent"
  [showNavigationArrows]="false"
  [showNavigationIndicators]="false"
>
  <ng-template ngbSlide *ngFor="let image of todayEvent">
    <div class="picsum-img-wrapper">
      <img
        class="banner-image"
        [src]="image.attributes.banner.data.attributes.formats.large.url"
        alt="slider"
      /> 
    </div>
    <div class="carousel-caption">
      <h3>No mouse navigation</h3>
      <p>This carousel hides navigation arrows and indicators.</p>
    </div>
  </ng-template>
</ngb-carousel>
