@import '../../../common/styles/colors.scss';


.button-Container {
  width: 10em;
  height: 2em;
  border-radius: 5em;
  overflow: hidden;
  background-color: $yellow;

  button {
    outline: none;
    width: 68px;
    height: 29px;
    border: none;
    background: none;
    font-size: 12px !important;
    color: white;
    text-transform: uppercase;

  }

  .border-right {
    border-right: 0.5px solid $gray;
  }

}

.alternative-color {
  background-color: $indigo;
}
