@import "../../../common/styles/colors.scss";

.wrapper {
  background-color: transparent;
  transition: background-color 1s;
  height: 12vh;
  width: 100vw;
  padding: 0 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;

  @media only screen and (min-width: 992px) {
    padding: 0 8em;
  }

  .aligned {
    display: flex;
    align-items: center;
  }

  .menu-item {
    position: relative;
    margin: 0 1.5em;

    .menu-icon {
      font-size: 10px;
      margin-left: 5px;
    }

    .menu-context-container {
        display: none;
      }

    &:hover {
      color: $yellow;
      cursor: pointer;
    }

    &:hover .menu-context-container {
      display: block;
      position: absolute;

      .content {
        background-color: #fff;
        margin-top: 1.5em;
        min-height: 10em;
        min-width: 16em;
        padding: 2em;
        border-top: 3px solid $yellow;
        color: black;

        ul {
            list-style: none;

            li {
                margin: 5px 0;
            }
        }
      }
    }
  }
}

.alternative {
  background-color: #fff;
  color: black;
}
