@import "../../../common/styles/colors.scss";

.wrapper {
  background-color: transparent;
  transition: background-color 1s;
  height: 12vh;
  width: 100vw;
  padding: 0 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;

  @media only screen and (min-width: 992px) {
    padding: 0 8em;
  }

  h4 {
    margin-top: 10px;
    font-weight: 900;
    font-size: 26px;
  }

  .aligned {
    display: flex;
    align-items: center;
  }

  .menu-item {
    position: relative;
    margin: 0 1.5em;

    .menu-icon {
      font-size: 10px;
      margin-left: 5px;
    }

    .menu-context-container {
      display: none;
    }

    &:hover {
      color: $yellow;
      cursor: pointer;
    }

    &:hover .menu-context-container {
      display: block;
      position: absolute;

      .content {
        margin-top: 1.5em;
        background-color: #fff;
        min-height: 10em;
        min-width: 16em;
        border-top: 3px solid $yellow;
        color: black;

        ul {
          list-style: none;

          li {
            display: flex;
            justify-content: start;
            padding-left: 2.5em;
            align-items: center;
            border-bottom: 0.5px solid $gray;
            height: 4em;
            font-weight: normal;
            font-size: 12px;
            text-transform: capitalize;
          }
        }
      }
    }
  }

  .indigo {
    position: relative;
    margin: 0 1.5em;

    .menu-icon {
      font-size: 10px;
      margin-left: 5px;
    }

    .menu-context-container {
      display: none;
    }

    &:hover {
      color: $indigo;
      cursor: pointer;
    }

    &:hover .menu-context-container {
      display: block;
      position: absolute;

      .content {
        margin-top: 1.5em;
        background-color: #fff;
        min-height: 10em;
        min-width: 16em;
        border-top: 3px solid $yellow;
        color: black;

        ul {
          list-style: none;

          li {
            display: flex;
            justify-content: start;
            padding-left: 2.5em;
            align-items: center;
            border-bottom: 0.5px solid $gray;
            height: 4em;
          }
        }
      }
    }
  }
}

.alternative {
  background-color: #fff;
  color: black;
}
