.wrapper {
    background-color: transparent;
    transition: background-color 1s;
    height: 12vh;
    width: 100vw;
    padding: 0 1em;


    @media only screen and (min-width: 992px) {
        padding: 0 8em;
    }

}

.alternative {
    background-color: #fff;
}