<div
  class="wrapper container-fuild"
  [ngClass]="alternative ? 'alternative' : ''"
>
  <div class="row h-100 mx-0">
    <div class="col-3 aligned brand"><h4>EVENTCHAMP</h4></div>
    <div class="col-9 aligned justify-content-end d-none d-lg-flex flex-wrap">
      <div class="menu-item" [ngClass]="alternative ? 'indigo':''" *ngFor="let nav of navigation">
        {{nav.attributes.label}}
        <fa-icon [icon]="chevronIcon" class="menu-icon"></fa-icon>
        <div class="menu-context-container">
          <div class="content rounded shadow" *ngIf="nav.attributes.submenu.length" [ngStyle]="{'border-top': alternative ? '3px solid #6610f2' : '3px solid #ffbb00'  }">
            <ul class="px-0">
              <li *ngFor="let sublink of nav.attributes.submenu">{{sublink.label}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="menu-item" [ngClass]="alternative ? 'indigo':''">
        <fa-icon [icon]="shoppingCartIcon"></fa-icon>
      </div>
      <div class="menu-item" [ngClass]="alternative ? 'indigo':''">
        <toggle-buttons [alternative]="alternative"></toggle-buttons>
      </div>
    </div>
    <div class="col-9 aligned justify-content-end d-lg-none mobile-navigator" (click)="openNav(sideNav, overlay)">
      &#9776;
    </div>
  </div>
</div>
<div id="mySidenav" class="sidenav" #sideNav>
  <sidenav (onCloseEvent)="closeNav(sideNav,overlay)" [navigation]="navigation"></sidenav>
</div>
<div id="overlay" #overlay (click)="closeNav(sideNav,overlay)"></div>
