<div
  class="wrapper container-fuild"
  [ngClass]="alternative ? 'alternative' : ''"
>
  <div class="row h-100 mx-0">
    <div class="col-3 aligned">Brand</div>
    <div class="col-9 aligned justify-content-end">
      <div class="menu-item">
        Home
        <fa-icon [icon]="chevronIcon" class="menu-icon"></fa-icon>
        <div class="menu-context-container">
          <div class="content rounded shadow">
            <ul class="px-0">
              <li>Event 1</li>
              <li>Event 2</li>
              <li>Event 3</li>
              <li>Event 4</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="menu-item">
        Events
        <fa-icon [icon]="chevronIcon" class="menu-icon"></fa-icon>
        <div class="menu-context-container">
          <div class="content rounded shadow">
            <ul class="px-0">
              <li>Event 1</li>
              <li>Event 2</li>
              <li>Event 3</li>
              <li>Event 4</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="menu-item">
        Calendar
        <fa-icon [icon]="chevronIcon" class="menu-icon"></fa-icon>
        <div class="menu-context-container">
          <div class="content rounded shadow">
            <ul class="px-0">
              <li>Event 1</li>
              <li>Event 2</li>
              <li>Event 3</li>
              <li>Event 4</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="menu-item">
        Speakers
        <fa-icon [icon]="chevronIcon" class="menu-icon"></fa-icon>
        <div class="menu-context-container">
          <div class="content rounded shadow">
            <ul class="px-0">
              <li>Event 1</li>
              <li>Event 2</li>
              <li>Event 3</li>
              <li>Event 4</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="menu-item">
        Venues
        <fa-icon [icon]="chevronIcon" class="menu-icon"></fa-icon>
        <div class="menu-context-container">
          <div class="content rounded shadow">
            <ul class="px-0">
              <li>Event 1</li>
              <li>Event 2</li>
              <li>Event 3</li>
              <li>Event 4</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="menu-item">
        <fa-icon [icon]="shoppingCartIcon"></fa-icon>
      </div>
      <div class="menu-item">
        <toggle-buttons [alternative]="alternative"></toggle-buttons>
      </div>
    </div>
  </div>
</div>
