<div class="search-container d-flex justify-content-center align-items-center">
    <form action="">
        <div class="container-fluid">
            <div class="row g-lg-4">
                <div class="col-md-6 col-lg-2">
                    <app-input></app-input>
                </div>
                <div class="col-md-6 col-lg-2">
                    <app-input></app-input>
                </div>
                <div class="col-md-6 col-lg-2">
                    <app-input></app-input>
                </div>
                <div class="col-md-6 col-lg-2">
                    <app-input></app-input>
                </div>
                <div class="col-md-6 col-lg-2">
                    <app-input></app-input>
                </div>
                <div class="col-md-6 col-lg-2">
                    <app-input></app-input>
                </div>
                <div class="col-md-6 col-lg-2">
                    <app-input></app-input>
                </div>
            </div>
        </div>
       

    </form>
</div>
